:root {
  --global-text-color: #760326;
}

.navBar {
  color: #760326;
  background-color: #d9d9d9;
}

.border-user {
  border-bottom: 2px solid var(--global-text-color);
}

.border-white {
  border-bottom: 2px solid #d9d9d9;
}

.border-color:hover {
  border-color: var(--global-text-color);
}